<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Contest! - Workshop B</title>
    <style type="text/css">
        * { border:0; padding:0; font-weight:normal;}
        body {
            font-family:Helvetica, "Helvetica Neue", Arial, Verdana;
            background:#2d3235;
            font-size:1.0em;
            color:#fff;
        }

        h1 {
            font-size:1.2em;
            margin:60px 0 0 0;
        }

    </style>
</head>
<body>
	<article>
        <header>      
            <h1>Workshop B - The Contest!</h1>
        </header>        
        <section>
            {% for image in cakes_gallery.values.value %}
              {% for x, y in image.attribute.items %}
                {% if y != 'url' and y != 'text' %}
                <img src="{{ y }}" /><br/>
                {% endif %}
              {% endfor %}
            {% endfor %}


        <footer>
        </footer>
    </article>
</body>
</html>